services:

  mongodb:
    image: mongo:latest
    container_name: mongodb
    volumes:
      - ./mongo_data:/data/db

  evlampiy_bot:
    image: evlampiy_notes_tgbot:latest
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"  # FastAPI for WhatsApp webhook
    volumes:
      - ./data:/app/data:ro
    depends_on:
      - mongodb
