services:

  mongodb:
    image: mongo:latest
    volumes:
      - ./mongo_data:/data/db

  dev:
    build:
      context: ..
      dockerfile: Dockerfile
    env_file:
      - ../.env
    command: sleep infinity
    ports:
      - "8000:8000"
    volumes:
      - ..:/app:cached
    depends_on:
      - mongodb
